$iframeWidth: 50%;
$iframeheight: 2%;

// $phone: 360px;
// $tablet: 768px;
// $desktop: 1366px;
// $largeDesktop: 1920px;

$breakpoints: (
  "tablet":  360px,
  "desktop": 768px,
  "largeDesktop": 1366px) !default;

//@mixin yolo{
 // background-color: red;
 // font-size: 20px;
//}

.flex-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

body{

  background-color: yellow;

  @media (min-width: map-get($breakpoints, "tablet")){
    background-color: red;
  }
  @media (min-width: map-get($breakpoints, "desktop")){
    background-color: lightblue;
  }
  @media (min-width: map-get($breakpoints, "largeDesktop")){
    background-color: blue;
  }
}

